@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

h1{
  margin: 0;
}

/* For WebKit-based browsers (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}